<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Hub</title>
    <link rel="stylesheet" href="/Copycss.css">
    
</head>
<body>
    <!-- <%- include('./Partials/copycss.ejs')  %> -->
    <%- include('./Partials/header.ejs')  %>
    <main>
        
        <img src="/Images/group-portrait-adorable-puppies.jpg" alt="Dogs Image" width="100%" height="122%">
        <p class="Text">
            <h2>IMPORTANCE</h2>
            <h4>A pet can be a great source of comfort, companionship and motivation for their owners. In many ways, pets can help us to live mentally healthier lives.Animals do not ask for much in life, and most just need a warm, safe and sheltered place to live, as well as adequate food, water and exercise. In return they will give you unconditional love, loyalty and companionship. Dogs are a little more well known to offer unconditional love; cats can be a little fickle! But having a furry friend means you will always have a little living being, waiting patiently for you at home and ready to welcome you with a wagging tail or a purr.

            <h2> <b> Pets and depression </b> </h2>

                Pets are also a great motivator for people. Dogs especially are great at encouraging owners to get exercise, and this can be beneficial for those suffering from depression. Pets can also have calming effects on their owner. Just by stroking, sitting next to or playing with a pet can gives owning a chance to relax and calm their minds. Caring for a pet also gives your day purpose and reward, and a sense of achievement. It also helps you feel valuable and needed.

            <h2> <b>Pets and socialising </b> </h2>
                Walking a dog often leads to conversations with other dog owners and this helps owners to stay socially connected and less withdrawn. People who have more social relationships and friendships tend to be mentally healthier.
                
            <h2> <b> Pets and loneliness</b> </h2>
                A pet is great companion. They give owners company, a sense of security and someone to share the routine of the day with. Pets can be especially valuable company for those in later life and living alone.</h4>
        </p>
        
        <section class="videos">
            <h2>VIDEOS</h2>
            <iframe width="25%" height=50px src="https://www.youtube-nocookie.com/embed/X2lIovmNsUY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp;&nbsp;&nbsp;&nbsp;
            <iframe width="25%" height="20%" src="https://www.youtube-nocookie.com/embed/QQHhgghf24s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp;&nbsp;&nbsp;&nbsp;
            <iframe width="25%" height="20%" src="https://www.youtube-nocookie.com/embed/7Ht9jkWXqlU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp;&nbsp;&nbsp;&nbsp;
        </section>
        <section class="Products">
            <h2>Products suggested by us</h2>
            <a href="https://www.amazon.in/Drools-Chicken-Adult-Food-Free/dp/B07HBMB3WW/ref=sr_1_1?dchild=1&keywords=drools&qid=1623001460&rdc=1&sr=8-1" target="_blank"><img class="IMG" src="/Images/Pet food 1.jpg" alt="IMG_20191006_165552" width="30%" height=250px> </a>
            
            <a href="https://www.amazon.in/Heads-Up-Tails-Doggie-Chicken/dp/B08WWKKGL5/ref=sr_1_2?dchild=1&keywords=sara%27s+for+pets&qid=1623001976&sr=8-2" target="_blank"><img class="IMG" src="/Images/Pet food 2.jpg" alt="IMG_20191006_" width="30%" height=250px></a>
            <!-- <p><h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quo totam ad ratione voluptatem asperiores debitis voluptatibus eos amet, magni ipsa nesciunt ducimus vero obcaecati nulla beatae possimus hic quod?</h3></p> -->
            <a href="https://www.amazon.in/Heads-Up-Tails-Biscuits-Cinnamon/dp/B07YZJQX1P/ref=sr_1_9?dchild=1&keywords=yummy+tummy&qid=1623001859&sr=8-9" target="_blank"><img class="IMG" src="/Images/Pet food 3.jpg" alt="IMG_20191006_65552" width="30%" height=250px></a>
            <!-- <p><h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quo totam ad ratione voluptatem asperiores debitis voluptatibus eos amet, magni ipsa nesciunt ducimus vero obcaecati nulla beatae possimus hic quod?</h3></p> -->
            <a href="https://www.amazon.in/Pets-Empire-Stainless-Steel-Medium/dp/B072XW1FSP/ref=sr_1_5?dchild=1&keywords=pet+products&qid=1623002042&sr=8-5" target="_blank"><img class="IMG" src="/Images/Pet food 4.jpg" alt="IMG_20191006_15552"width="30%" height=250px></a>
            <!-- <p><h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quo totam ad ratione voluptatem asperiores debitis voluptatibus eos amet, magni ipsa nesciunt ducimus vero obcaecati nulla beatae possimus hic quod?</h3></p> -->
            <a href="https://www.amazon.in/Drools-Chicken-Adult-Food-Free/dp/B07HBMB3WW/ref=sr_1_1?dchild=1&keywords=drools&qid=1623001460&rdc=1&sr=8-1" target="_blank"><img class="IMG" src="/Images/Pet food 5.jpg" alt="IMG_20191006_15552"width="30%" height=250px></a>
            <a href="https://www.amazon.in/Pets-Empire-Stainless-Steel-Medium/dp/B072XW1FSP/ref=sr_1_5?dchild=1&keywords=pet+products&qid=1623002042&sr=8-5" target="_blank"><img class="IMG" src="/Images/Pet_vess.jpg" alt="IMG_20191006_15552"width="30%" height=250px></a>
        </section>
    </main>
    <footer>
        <a href="#">FAQ</a>
        <a href="#">Contact Us</a>
        <a href="#">Terms of Use</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Refund Policy</a>
        <a href="#">&copy; 2021 | Pet Hub</a>
    </footer>
</body>
</html>