<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="Lect.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shops</title>
    <%- include('./Partials/lectcss.ejs')  %> 
    
</head>
<body>
    <%- include('./Partials/copycss.ejs')  %>
    <%- include('./Partials/header.ejs')  %>
    <p><h2 class="Tit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pet shops in Pune.</h2></p>
     <div id="A">
        <img class="itemI" src="pet shop.png" alt="pet shop image " height= 300px >
        <ul>    
        <ul>
            <a class="Tit" href="/Shop" target="_blank">
                 <h1>Petville Pet Shop</h1></a>
            <li class="itemA">&nbsp;&nbsp;Dogs                        
                <ul>
                
                   
                <li>German Shepherd </li>
                <li>Bull Dog</li>
                <li>Labrador Retriever</li>
                <li>Siberian Husky</li>
                <li>Dobermann</li>
                    
                
                
                </ul>
            </li>
            <li class="itemA">&nbsp;&nbsp;Cats
                <ul>
                    <li>Persian Cat</li>
                    <li>Rag Doll</li>
                    <li>American Shorthair</li>
                    <li>Shortish fold</li>
                    
                    </ul>
            </li>
            <li class="itemA">&nbsp;&nbsp;Parrots</li>
            
            </ul>
        </ul>
        
    </div>
    <div id="A">
        <img class="itemI" src="pet shop.png" alt="pet shop image " height= 300px >
        <ul>    
        <ul>
            <a class="Tit" href="Raj shop.html" target="_blank">
                 <h1>Galaxy Pet Shop</h1></a>
            <li class="itemA">&nbsp;&nbsp;Dogs                        
                <ul>
                
                   
                <li>German Shepherd </li>
                <li>Bull Dog</li>
                <li>Labrador Retriever</li>
                <li>Siberian Husky</li>
                <li>Dobermann</li>
                    
                
                
                </ul>
            </li>
            <li class="itemA">&nbsp;&nbsp;Cats
                <ul>
                    <li>Persian Cat</li>
                    <li>Rag Doll</li>
                    <li>American Shorthair</li>
                    <li>Shortish fold</li>
                    
                    </ul>
            </li>
            <li class="itemA">&nbsp;&nbsp;Parrots</li>
            
            </ul>
        </ul>
        
    </div>
    <div id="A">
        <img class="itemI" src="pet shop.png" alt="pet shop image " height= 300px >
        <ul>    
        <ul>
            <a class="Tit" href="Raj shop.html" target="_blank">
                 <h1>Pet Destination</h1></a>
            <li class="itemA">&nbsp;&nbsp;Dogs                        
                <ul>
                
                   
                <li>German Shepherd </li>
                <li>Bull Dog</li>
                <li>Labrador Retriever</li>
                <li>Siberian Husky</li>
                <li>Dobermann</li>
                    
                
                
                </ul>
            </li>
            <li class="itemA">&nbsp;&nbsp;Cats
                <ul>
                    <li>Persian Cat</li>
                    <li>Rag Doll</li>
                    <li>American Shorthair</li>
                    <li>Shortish fold</li>
                    
                    </ul>
            </li>
            <li class="itemA">&nbsp;&nbsp;Parrots</li>
            
            </ul>
        </ul>
        
    </div>
    
</body>
</html>